- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: mysql-deployment
    namespace: wordpress-namespace
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: mysql
    template:
      metadata:
        labels:
          app: mysql
      spec:
        containers:
        - name: mysql
          image: mysql:5.7
          env:
          - name: MYSQL_DATABASE
            value: example_db
          - name: MYSQL_ROOT_PASSWORD
            value: example_password
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: wordpress-deployment
    namespace: wordpress-namespace
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: wordpress
    template:
      metadata:
        labels:
          app: wordpress
      spec:
        containers:
        - name: wordpress
          image: wordpress:latest
          env:
          - name: WORDPRESS_DB_HOST
            value: mysql
          - name: WORDPRESS_DB_NAME
            value: example_db
          - name: WORDPRESS_DB_PASSWORD
            value: example_password
